* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.line-clamp {
    /* Tạo dấu 3 chấm */
    display: -webkit-box;
    -webkit-line-clamp: var(
        --line-clamp,
        2
    ); /*Giới hạn 2 dòng thì hiện dấu 3 chấm*/
    -webkit-box-orient: vertical;
    overflow: hidden; /*Ẩn nội dung còn lại sau dấu 3 chấm*/
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

/* ======== Header ======== */
.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ======== Clients ======== */
.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}

/* ======== Guides ======== */

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -10px;
    left: 50%; /* cạnh của cây sẽ bắt đầu từ giữa phần tử sub-title*/
    transform: translateX(-50%); /*Lùi về 50% theo chiều dài của cây*/
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin-left: auto; /* Thẻ p là thẻ block nên margin trái phải auto là ra giữa*/
    margin-right: auto;
    height: 60px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.list-guide {
    display: flex; /* đưa item thành nằm ngang*/
    justify-content: center; /* căn giữa*/
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ======== Features ======== */
.featured {
    padding: 110px 0;
    margin-top: 41px;
    background: #f5fafe;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .row .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.featured .link {
    display: flex; /* Dùng display: flex và align-items:center để đưa 2 phần tử trong link là thẻ span và img nằm giữa trên 1 trục ngang*/
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 27px;
    color: #0689ff;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    margin-top: 70px;
    gap: 30px; /*Tạo ra khoảng cách giữa các item là 30px*/
    display: flex;
}

.featured .item {
    flex: 1; /* Chia đều 3 ảnh bằng nhau*/
    background: #fff;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover; /*Giữ đúng tỉ lệ ảnh nhưng lấp đầy khung hình*/
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}

.featured .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    word-break: break-all; /*Ngắt dòng*/
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    margin-left: 8px; /* Thẻ inline vẫn hoạt động với margin-left chỉ không hoạt động vs margin top bot*/
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

/* ======= Stats ======= */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats-trend {
    position: absolute;
    width: 239px;
    top: 0;
    left: 0;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
    background: #ffffff;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats .icon {
    margin-left: auto; /* đưa mũi tên sang phải; bình thường phải thêm display: block rồi mới margin-left: auto
    nhưng cái này không cần là vì thẻ cha của nó đã có display: flex*/
}

.stats-trend .desc {
    margin: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats .avatar-block {
    display: flex; /*Để các group nằm ngang*/
    flex-wrap: wrap; /* Để khi chạm tới ranh giới là xuống hàng*/
    gap: 16px 14px; /*Khoảng cách giữa các cột và hàng*/
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    margin-left: -3px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
}

.stats .avatar:first-child {
    margin-left: 0;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .sub-title::before {
    position: absolute;
    content: ""; /*before, after luôn có content*/
    display: block;
    left: 0;
    top: -10px;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats .row-qty {
    justify-content: space-between; /*Để các giá trị đẩy xa nhau ra*/
    margin-top: 110px;
    padding: 0 32px;
}

.stats .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .qty-desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 27px;
    color: #7b8087;
}

/* ======= Subscription ======= */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subscription .info {
    width: 671px;
    margin: 0 80px;
}

.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    color: #002366;
    background: #ffffff;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* ======= Footer ======= */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
    white-space: nowrap; /*Column hiện tại ko đặt width nên dùng nowgrap để ko bị xuống hàng*/
}

.footer .desc {
    white-space: normal;
    line-height: 1.75;
}

.footer .social {
    /* Thẻ a bọc các image có display là inline nên vẫn nằm ngang nhưng vẫn có khoảng cách do code html
    thẻ a xuống hàng, vì vậy dùng display: flex để các logo sát lại gần nhau để tính toán khoảng cách 
    chính xác hơn */
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    /* Vì thẻ chả là .social đã có display:flex nên ko cần thêm display: block để set height, width */
    display: flex;
    align-items: center;
    justify-content: center; /* display: flex, align-item và justify-content: center là để căn giữa*/
    width: 28px;
    height: 28px;
    border-radius: 3px;
}

.footer .social-link:hover {
    background: #ebebeb;
}

.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between; /*Mỗi cái một bên*/
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 21px;
    color: #c2c2c2;
}
